@charset "utf-8";
/* 
 Color Palette:
 	White: #FCFCFC
	Orange: #E30
	Red: #C01
	Blue: #076897
 */
 
/* PAGE-WIDE */
body {
	font: 100%/1.4 "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding: 0;
	margin: 0;
	background-color: #FCFCFC;
	background-repeat:repeat-x;
}

a, p, h2, h3, h4, h5, h6, div{
	overflow: hidden;
}
/*Only used for site heading at the moment*/

h2 {
	font-family: "Eras Light ITC", Arial, sans-serif;
	margin-bottom: 0px;
}

/* Used for all other headings */
h2, h3, h4, h5, h6 {
	text-align: center;
	margin: 5px;
	color: #C01;
}

/* Considered a best practice to make padding and margin 0 for all lists */
ul, ol, dl {
	padding: 0;
	margin: 0;
}

#container {
	width: 1000px;
	padding: 5px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #FCFCFC;
}

header {
	position: relative;
	height: 80px;
	width: 1110px;
	background-color: #FCFCFC;
	background-repeat: no-repeat;
}


/* NAVBAR */
#navbar {
	clear: both;
	list-style-type: none;
}

#navbar li {
	float: left;
	display: inline; /* bug for IE6 in CSS*/ 
}

#navbar a {
	font-family: "Eras Light ITC", Arial, sans-serif;
	display: block;
	width: 225px;
	margin: 10px 12px;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	font-size: .9em;
}

#navbar a:not(#current){
	transition: background-color 1s, color 1s;
	background-color: #FCFCFC;
	color: #C01;
}

#navbar a:hover:not(#current), #navbar a:active, #navbar a:focus {
	transition: background-color 1s, color 1s;
	color: #FCFCFC;
	background-color: #E30;
}

#current, #current:visited {
	color: #FCFCFC;
	background-color: #E30;
}
/*END NAVBAR*/

/*CONTENT*/
#content {
	width: 946px;
	padding: 15px 25px;
	border: 2px solid #E30;
	background-color: #FCFCFC;
}

#content p {
	word-wrap: normal;
}

/* A vertical line used for separation, height should be set in page. */
div.vLine {
	margin: auto 25px;
	border-left: 1px dashed #076897;
}

/* A horizontal line used for separation, width should be set in page. */
div.hLine {
	clear: both;
	margin: 25px auto;
	border-bottom: 1px dashed #076897;
}

/* A button for links */
a.navButton {
	transition: background-color 1.2s, color 1.2s;
	margin: 0 auto;
	display: block;
	padding: 5px 0px 5px 0px;
	text-decoration: none;
	text-align: center;
	font-family: "Eras Light ITC", Arial, sans-serif;
	font-size: .9em;
	background-color: #FCFCFC;
	color: #076897;

}

.navButton:hover, .navButton:active, .navButton:focus {
	transition: background-color 0.8s, color 0.8s;
	background-color: #076897;
	color: #FCFCFC;
}
/*END CONTENT*/

footer {
	height: 20px;
	width: 976px;
	margin-top: 3px;
	margin-bottom: 0px;
	padding: 15px 10px;
	border: 2px solid #E30;
	background-color: #FCFCFC;
}

footer p {
	margin-top: 0;
	color: #076897;
}

#updated {
	float: left;
}

#date {
	float: right;
}
